<p>Hey, here is a new entry on <%= @website_belonging_to_account.domain %> from <%= @submission.email %></p>

Email: <p><%= @submission.email %></p>
Name: <p><%= @submission.name %></p>
Message: <p><%= @submission.message %></p>
Time: <p><%= @submission.created_at %></p>

<p> You can respond to the person who submitted this form directly by hitting reply to this email </p>